 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [41]:
# Import libraries
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [42]:
#reading whale returns csv
csv_path = Path(r"c:/users/ana_c/Documents/temp/assignment_3_due_sep_18_2023/pandas/whale_returns.csv")
whale_returns = pd.read_csv(csv_path)
whale_returns.head()

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
0,2015-03-02,NaN,NaN,NaN,NaN
1,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2,2015-03-04,0.002230,0.003241,-0.002534,0.004213
3,2015-03-05,0.004016,0.004076,0.002355,0.006726
4,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [43]:
#set date as a dataframe index
#whale_returns = whale_returns.set_index("Date")
whale_returns = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
#sp500_history = pd.read_csv(sp500_history_csv, index_col="Date", infer_datetime_format=True, parse_dates=True)
whale_returns.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [44]:
# Count nulls by column
whale_returns.isnull().mean()*100
whale_returns.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [45]:
# remove nulls
whale_returns = whale_returns.dropna()

In [46]:
# verify nulls are removed
whale_returns.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

In [47]:
# Sort data by `Date` in ascending order
whale_returns = whale_returns.sort_values("Date", ascending=True)
whale_returns.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

## S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [49]:
#reading s&p tsx prices
csv_path = Path(r"c:/users/ana_c/Documents/temp/assignment_3_due_sep_18_2023/pandas/sp_tsx_history.csv")
sp_tsx_history = pd.read_csv(csv_path)
sp_tsx_history.head()

         Date       Close
0  1-Oct-2012  $12,370.19
1  2-Oct-2012  $12,391.23
2  3-Oct-2012  $12,359.47
3  4-Oct-2012  $12,447.68
4  5-Oct-2012  $12,418.99

In [51]:
#set date as a dataframe index
#sp_tsx_history = sp_tsx_history.set_index("Date")
sp_tsx_history = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
sp_tsx_history.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [52]:
# Count nulls by column
sp_tsx_history.isnull().mean()*100
sp_tsx_history.isnull().sum()

Close    0
dtype: int64

In [53]:
# Drop nulls
sp_tsx_history = sp_tsx_history.dropna()

In [54]:
sp_tsx_history.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [55]:
# Sort data by `Date` in ascending order
sp_tsx_history = sp_tsx_history.sort_values("Date", ascending=True)
sp_tsx_history.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [56]:
# Determine Data Type of Close price
sp_tsx_history.dtypes

Close    object
dtype: object

In [57]:
#REMOVE $ signs from Close price amounts and convert data type
cols_to_check = ['Date','Close']
print(sp_tsx_history.iloc[[0, 2]])
sp_tsx_history.iloc[[0,2]] = sp_tsx_history.iloc[[0,2]].replace({'$',""}, regex = True)
print(sp_tsx_history)

                 Close
Date
2012-10-01  $12,370.19
2012-10-03  $12,359.47
                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99
...                ...
2019-12-20  $17,118.44
2019-12-23  $17,128.71
2019-12-24  $17,180.15
2019-12-27  $17,168.21
2019-12-30  $17,098.56

[1818 rows x 1 columns]

In [59]:
#New attempt to REMOVE $ signs from Close price amounts and convert data type
#sp_tsx_history['Close'] = pd.to_numeric(sp_tsx_history['Close'], errors='coerce')
sp_tsx_history['Close'] =sp_tsx_history['Close'].replace('[\$,]','', regex=True).astype(float)
sp_tsx_history.head()

               Close
Date
2012-10-01  12370.19
2012-10-02  12391.23
2012-10-03  12359.47
2012-10-04  12447.68
2012-10-05  12418.99

In [60]:
#OR CONVERT object dtype int64
#sp_tsx_history.convert_dtypes
#sp_tsx_history["Close"] = sp_tsx_history["Close"].astype('int64')
#sp_tsx_history

In [61]:
# Calculate Daily Returns
sp_tsx_history['Daily_Return'] = sp_tsx_history['Close'].pct_change()
#sp_tsx_history.describe()
print(sp_tsx_history)

               Close  Daily_Return
Date
2012-10-01  12370.19           NaN
2012-10-02  12391.23      0.001701
2012-10-03  12359.47     -0.002563
2012-10-04  12447.68      0.007137
2012-10-05  12418.99     -0.002305
...              ...           ...
2019-12-20  17118.44      0.003188
2019-12-23  17128.71      0.000600
2019-12-24  17180.15      0.003003
2019-12-27  17168.21     -0.000695
2019-12-30  17098.56     -0.004057

[1818 rows x 2 columns]

In [62]:
# Rename `Close` Column to be specific to this portfolio.
sp_tsx_history.tail()

               Close  Daily_Return
Date
2019-12-20  17118.44      0.003188
2019-12-23  17128.71      0.000600
2019-12-24  17180.15      0.003003
2019-12-27  17168.21     -0.000695
2019-12-30  17098.56     -0.004057

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [21]:
#reading algo returns
csv_path = Path(r"c:/users/ana_c/Documents/temp/assignment_3_due_sep_18_2023/pandas/algo_returns.csv")
algo_returns = pd.read_csv(csv_path)
algo_returns.head()

         Date    Algo 1  Algo 2
0  2014-05-28  0.001745     NaN
1  2014-05-29  0.003978     NaN
2  2014-05-30  0.004464     NaN
3  2014-06-02  0.005692     NaN
4  2014-06-03  0.005292     NaN

In [63]:
#set date as a dataframe index
#algo_returns = algo_returns.set_index("Date")
algo_returns = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
algo_returns.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [64]:
# NULL DATES????
#
#
# Sort data by `Date` in ascending order
algo_returns = algo_returns.sort_values("Date", ascending=True)
algo_returns.head()

                 Close
Date
2012-10-01  $12,370.19
2012-10-02  $12,391.23
2012-10-03  $12,359.47
2012-10-04  $12,447.68
2012-10-05  $12,418.99

In [65]:
# Count nulls by column
algo_returns.isnull().mean()*100
algo_returns.isnull().sum()

Close    0
dtype: int64

In [66]:
# Drop nulls
algo_returns = algo_returns.dropna()

In [67]:
# verify nulls are removed
algo_returns.isnull().sum()

Close    0
dtype: int64

In [68]:
#checking file data types
algo_returns.dtypes

Close    object
dtype: object

## Combine Whale, Algorithmic, and S&P TSX 60 Returns

In [69]:
# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.
portfolio_df = pd.concat([whale_returns, algo_returns, sp_tsx_history['Daily_Return']], axis='columns', join="inner")
#portfolio_df.columns = ['Whale_Portfolio', 'Algo_Portfolio', 'SP_TSX_60']
#portfolio_df = pd.concat([whale_returns, algo_returns, sp_tsx_history['Daily_Return']], axis="columns", join="inner")
#portfolio_df.columns = ['Whale_Portfolio', 'Algo_Portfolio', 'SP_TSX_60']
portfolio_df

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Close,Daily_Return
Date,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,"$15,133.85",-0.008530
2015-03-04,0.002230,0.003241,-0.002534,0.004213,"$15,082.84",-0.003371
2015-03-05,0.004016,0.004076,0.002355,0.006726,"$15,103.11",0.001344
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,"$14,952.50",-0.009972
2015-03-09,0.000582,0.004225,0.005843,-0.001652,"$14,854.49",-0.006555
...,...,...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848,"$16,576.10",-0.000628
2019-04-26,0.008149,0.009162,0.012355,0.010434,"$16,613.46",0.002254
2019-04-29,0.001254,0.002719,0.006251,0.005223,"$16,600.37",-0.000788
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702,"$16,580.73",-0.001183
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833,"$16,502.75",-0.004703

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [ ]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [ ]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios.
4. Determine which portfolios are riskier than the S&P TSX 60.
5. Calculate the Annualized Standard Deviation.

### Create a box plot for each portfolio

In [ ]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [ ]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P TSX 60

In [ ]:
# Calculate  the daily standard deviation of S&P TSX 60

# Determine which portfolios are riskier than the S&P TSX 60

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for for all portfolios using a 21-day window.
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P TSX 60.
3. Choose one portfolio, then calculate and plot the 60-day rolling beta for it and the S&P TSX 60.

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [ ]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 60 TSX

In [ ]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P TSX

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [ ]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P TSX 60) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P TSX 60. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock.
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns.
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others.
5. Include correlation analysis to determine which stocks (if any) are correlated.

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [ ]:
# Reading data from 1st stock

In [ ]:
# Reading data from 2nd stock

In [ ]:
# Reading data from 3rd stock

In [ ]:
# Combine all stocks in a single DataFrame

In [ ]:
# Reset Date index

In [ ]:
# Reorganize portfolio data by having a column per symbol

In [ ]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [ ]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [ ]:
# Join your returns DataFrame to the original returns DataFrame

In [ ]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [ ]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [ ]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [ ]:
# Calculate and plot the correlation

### Calculate and Plot the 60-day Rolling Beta for Your Portfolio compared to the S&P 60 TSX

In [ ]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [ ]:
# Calculate Annualized Sharpe Ratios

In [ ]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!